<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FangDaiTong.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7940DAF11F7B400300BAF906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7940DB0A1F7B400300BAF906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7940DB151F7B400300BAF906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
